
header {
	background: url('../img/ptrn.png');
	padding: 90px $container-padding;

	nav {
		
	
		.blog-avatar {
			@include position(absolute, 20px auto auto 20px);
			margin: 0;
			
			a {
				@include size(40px);
				background: url('../img/avatar.png');
				background-size: contain;
				box-shadow: 0 2px 0 rgba(0,0,0,0.15);
				border-radius: 40px;
				display: block;
				text-indent: -9999px;
				
				&:hover {
					@include transform(translateY(-2px));
					box-shadow: 0 2px 8px rgba(0,0,0,0.15); 
				}
				
				&:active {
					@include transform(translateY(0px));
					box-shadow: 0 1px 0 rgba(0,0,0,0.3);
				}
			}
		}
		
		ul {
			@include position(absolute, 20px 20px auto auto);
			@include clearfix;
			margin: 0;
			padding: 0;
			
			li {
				@include inline-block;
				margin: 0 0 0 5px;
			}
			
			a,
			span {
				@include size(30px);
				background: $base-colour;
				border-radius: 30px;
				display: block;
				text-indent: -9999px;
				position: relative;
			}
			
			span {
				cursor: pointer;
			}
		}
	}
	
	h1,
	p.bio {
		text-align: center;
	}

	h1 {
		color: $heading-colour;
		font-size: em(80);
		line-height: 1;
		margin: 0 0 0.5em; 
	}
	
	p.bio {
		color: $base-colour;
		font-size: em(28);
		line-height: 1.4;
		margin: 0; 
	}

}