

/*******************
	Colour settings
*/

/* Brand colours */

$white: #ffffff; 
$lightgrey: #9eabb3;
$grey: #6e777d;
$darkgrey: #444444;

$crimson: #a74a4a;


/* SASS colour calls */

$base-colour: $crimson;
$body-colour: $lightgrey;
$heading-colour: $darkgrey;
$intro-colour: $grey;
$background-colour: $white;




/*******************
	Website margins 
	& paddings
*/

/* Margins & Padding */

$site-margin: 30px;
$container-padding: 20px;
  



/***********************
	Typography settings
*/
 

/* Lato (300 Normal, 300 Italic, 700 Normal) */

$lato: 'Lato', 'Helvetica Neue', Helvetica, Arial, san-serif;


/* Merriweather (400 Noraml, 400 Italic, 700 Normal) */

$merriweather: 'Merriweather', serif;
 
 
/* Typography - SASS calls */

%default-typeface,
%base-typeface {
	font-family: $merriweather;
	font-weight: 400;
}

%heading-typeface {
	font-family: $lato;
	font-weight: 900;
}

%small-heading-typeface {
	font-family: $lato;
	font-weight: 700;
}

%intro-typeface {
	font-family: $lato;
	font-weight: 300;
}

%quote-typeface {
	font-family: $lato;
	font-style: italic;
	font-weight: 300;
}




/**********************\
	Trigger Options
	---------------
	
	Update the relevant
	values below. 
	
\**********************/



/************
	1. Grids
*/


/* A.1: Do you want to use Bourbon Neat for grids? */

$bourbon-neat: true!default; 
// If false, ignore A2, and go straight to B. 


/* A.2: Fill out the maximum width, and number of grids for Desktop, Tablet and Mobile */ 

$desktop-width: 1140px!default;
$desktop-grids: 12!default;

$small-desktop-width: 1139px!default;
$small-desktop-grids: 8!default;

$tablet-width: 1023px!default;
$tablet-grids: 6!default;

$mobile-width: 767px!default;
$mobile-grids: 1!default; 



/* B: If you aren't going to use Bourbon Neat what width is your site? */

$non-responsive-width: 960px!default; 





@import "functions";
